*{
  margin: 0px;
  padding: 0px;
  font-family: monospace;
}

body {
  background-color: #84e;
} 

.form-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  color: aliceblue;
  padding: 10px;
  font-size: 24px;
}

input {
  font-size: 24px;
  border: none;
  border-radius: 5px;
  max-width: 100px;
}

.btn {
  display: flex;
  justify-content: center;
  padding: 20px;
}

button {
  padding: 10px;
  color: aliceblue;
  background: #000;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo {
  text-align: center;
  font-size: 30px;
  padding: 30px;
}

.conteudo {
  padding: 40px;
  max-width: 80%;
  text-align: justify;
}

.resposta-imc {
  margin-top: 30px;
  font-size: 50px;
  color: aliceblue;
  border: 5px solid aliceblue;
  padding: 20px;
  display: none;
} 

.resposta-imc.ativo {
  display: flex;
}